.Project {
    color: #1D1C1A;
    width: 100%;
    border-radius: 27px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 2px #5c5c5c;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & h2 {
        text-align: center;
        color: white;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
        margin-bottom: 1rem;
        padding: .3rem;
    }

    & h1 {
        margin: 1.5rem;
        font-size: 3rem;
        font-weight: bold;
        transition-duration: 1s;
    }

    & h1:hover {
        color : white;
        text-shadow: 5px 5px 5px black;
        transition-duration: 1s;
    }

    &-Conclusion {
        font-style: italic;
    }

    &-Head {
        text-align: center;
        min-height: 10%;
    }

    &-Base {
        color: #5c5c5c;
        text-shadow: 2px 2px 1px white;
        font-style: italic;
        font-weight: 200;
        text-align: center;
        margin-bottom: 1rem;
    }

    &-Details {
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        & p {
            margin-top: .6rem;
        }
    }

    &-Discover {
        margin-top: 1rem;
        width: 50%;
        border: 2px solid black;
        text-align: center;
        margin: auto;
        font-weight: bold;
        padding: 1rem;
        border-radius: 10px 10px;
        box-shadow: 5px 5px 5px black;
        transition-duration: 1s;
    }

    &-Discover:hover {
        background-color: black;
        border: 2px solid white;
        box-shadow: 5px 5px 5px white;
        color: white;
        transition-duration: 1s;
    }



    &-Box {
        text-align: center;
        flex-grow: 1;
        margin-bottom: 1rem;

        & img {
            border-radius: 10px;
            box-shadow: 5px 5px 5px #1D1C1A;
            margin-bottom: 1rem;
            width: 85%;
        }
    }

    &-BottomBox {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        column-gap: .5rem;
        row-gap: 1rem;
        width: 100%;
        min-height: 18%;

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: italic;
            font-size: 1.2rem;
            padding: .5rem;
            width: 100%;
            column-gap: .5rem;
            background-color: white;
            box-shadow: 10px 10px 10px black;
            border-radius: 10px;

        }

        &-Right {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #1D1C1A;
            box-shadow: 10px 10px 10px black;
            border-radius: 10px;
            color: #b5b5b5;
            padding: 1rem;
        }
    }
}

@media screen and (min-width: 992px) {

    .Project-Box {
        
        & img {
            float: left;
            width: 50%;
            margin-bottom: 0.2rem;
            margin-right: 1rem;
        }
    }

    .Project-Base {
        text-align: left;
    }

    .Project-Head {
        min-height: 18%;
    }

    .Project-BottomBox {
        flex-direction: row;
        flex-wrap: wrap;

        & ul, &-Right {
            width: 49%;
        }
    }
}

