.Welcome {

    &-Box {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        line-height: 3.5rem;
        width: 100%;
        
        &-Title {
            font-family: 'League Spartan', sans-serif;
            font-weight: bold;
            font-size: 4.5rem;
            text-align: center;
            align-self: center;
        }

        &-H2 {
            align-self: end;
            margin-right: 1.2rem;
        }

        &-Name {
            align-self: end;
            display: flex;
            flex-direction: column;
        }
    }

    &-Picture {
        border-radius: 100%;
        box-shadow: 5px 5px 5px #000000;
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 560px) {
    .Welcome-Box-Name {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .Welcome {

        &-Box-H2, &-Box-Name {
            align-self: auto;
        }

        &-Box-Title {
            font-size: 4.5rem;
        }

        &-Picture {
            order: 2;
            width: 280px;
            height: 280px;
        }
    }

}