

.Welcome {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    position: relative;
    max-width: 1440px;
    height: auto;
    margin: 1rem auto;
    border-radius: 18px;
background: #1d1c1a;
box-shadow:  5px 5px 11px #0c0b0a,
             -5px -5px 11px #2e2d2a;

    &-Box {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        line-height: 3.5rem;
        
            &-Title {
                font-family: 'League Spartan', sans-serif;
                font-weight: bold;
                font-size: 4.5rem;
                text-align: center;
                align-self: center;
            }

            &-H2 {
                align-self: end;
            }
    }

    &-Picture {
        border-radius: 100%;
        box-shadow: 5px 5px 5px black;
        width: 140px;
        height: 140px;
    }
}

@media screen and (min-width: 768px) {
    .Welcome {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
        font-size: 2.5rem;

        &-Box-Title {
            font-size: 4.5rem;
        }

        &-Picture {
            order: 2;
            width: 280px;
            height: 280px;
        }
    }

}