@use 'reset';
@import url(https://fonts.bunny.net/css?family=fjalla-one:400|league-spartan:100,200,300,400,600,700,800,900|pacifico:400);

body {
  background-color: #1D1C1A;
  font-family: 'Fjalla One', sans-serif;
  color: #b5b5b5;
  line-height: 1.7rem;

}
