.Description {

    &-Box {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &-Unit {
            width: 100%;

            & p {
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .Description {
        &-Box {
            flex-direction: row;

            &-Unit {
                width: 50%;
            }
        }
    }

}